*{
    box-sizing: border-box;
    margin:0;
    padding:0;    
}
body{
    text-align: center;
    
}

div{
    background-color: darkblue;
    border:2px solid black;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width:600px;
    font-size: 4rem;
}

h2{
    padding: 1rem;
    background-color: goldenrod;
    border-radius: 2rem;
}
ul{
    list-style-type: none;
    line-height: 7rem;
    
    
}

a{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 2rem;
    color: azure;
    display:block;

}

a:visited{
    color:aquamarine;
}

a:hover{
    opacity:0.8;
    background-color:dodgerblue;
    border-radius: 2rem;
}
a:active{
    color: aquamarine;
}




