.About{
    background-image: url('https://media.istockphoto.com/id/1322277517/photo/wild-grass-in-the-mountains-at-sunset.jpg?b=1&s=170667a&w=0&k=20&c=6hCgXAzeqhu-lU1yTwe2o4rtS4jI2PVC6_MRqvOjORg=');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.About h1{
    font-size: 5rem;
}
.About p{
    font-size: 2rem;
}